.sidebar-wrapper {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 400px;
    height: 100%;
    border-left: 2px solid black;
}

.sidebar__filter {
    border-bottom: 2px solid black;
}

.user {
    border-bottom: 2px solid red;
}

.user__positions {
    height: 100px;
    overflow-y: scroll;
}

.user__position {
    border-bottom: 2px solid black;
}